.heading {
  text-align: center;
  margin: 50px auto 30px;
}
.Calculator {
  margin: 300px auto 0;
  display: block;
  width: 250px;
  padding: 20px;
  background-color: #0000ff;
  border-radius: 3%;
}

.display {
    margin: 5px auto 20px;
  }

.display input {
  width: 238px;
  height: 40px;
  text-align: right;
  font-weight: 500;
  font-family: sans-serif;
  font-size: 18px;
  background-color: #00bfff;
}

.Calculator .Grid {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(4, 23%);
  grid-template-rows: repeat(auto-fill, auto);
}

.Symbol input {
  font-size: 18px;
  font-family: sans-serif;
  width: 100%;
  height: 50px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #00bfff;
  color: black;
}
.Zero{
  width: 250px;
}


